
html {
  scroll-behavior: smooth;
}
.menu-txt li a{
  /* font-size:20px; */
  transition: all .0s ease-in-out; 
  margin-top:10px;
}
.menu-txt li a:hover{
  color:#e29913 !important;
   transform: scale(1.2);
}

/* header css */

.main-header nav{
  padding: 0;
}
.main-header .navbar-brand{
  max-width: 130px;
  padding: 3px;
}
.common-overlay,
.item-bx{
  position: relative;
}
.zindex-1{
  position: relative;
  z-index: 1;
}

.item-bx .img{
  height: 550px;
}
.item-bx .img img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.common-overlay:before,
.item-bx:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption{
  padding: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
img{
  width:100%;

}
.bg-color{
  background-color:#0e305f;
  color:white;
}
.bg-color-footer{
  background-color:#08182e;
  padding:50px 0px 6px;
  color:white;
  /* margin-top:50px; */
}
.bg-color-footer p{
  /* padding:30px 0px 0px 0px; */
  color:white;
}
.txt-format{
  color:white;
  padding:10px;
}
/* .text-red{
  color:red;
  padding:20px;
} */
.btn-danger1{
  background-color:white;
  color:#0e305f;
}
.btn-danger2{
  background-color:#0e305f;
  color:white;
}
.btn-danger2:hover{
  background-color:#0a2449;
  color:white;
}
/* social icon */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

/* .fa-linkedin {
  background: #007bb5;
  color: white;
} */
.txt-center{
  margin-top:10px;
}
.txt-btn{
  border-radius:0;
  background-color:#80848a;
}
.carousel-caption h1{
  color:white;
  font-size:60px;
}
.text-white a:link {
  text-decoration: none;
  color:white;
}

.text-white a:visited {
  text-decoration: none;
}

.text-white a:hover {
  text-decoration: underline;
}

.text-white a:active {
  text-decoration: underline;
}
/* */
.txt-manage-center-1{
  text-align:center;
}
.txt-manage-center-1 img{
  width:35%;
}
.txt-manage-center-1 h2{
  color:red;
  letter-spacing:-2.5px;
}
.txt-manage-center-1 h1{
  color:rgb(56, 54, 54);
  letter-spacing:-2.5px;
}
.txt-manage-center-1 p{
  color:rgb(56, 54, 54);
  letter-spacing:-0.5px;
  text-align:justify;
}
.txt-about{
  background-color:rgb(39,61,130);
  /* text-align:center; */
  color:white;
  padding:80px;
}
.txt{
  background-color:rgb(39,61,130);
  border:2px solid white;
  border-radius:0;
  color:white;
  padding:10px 22px;
  font-size:15px;
  /* color:#071529; */
}
.txt-1{
  background-color:rgb(54,99,164);
  border:2px solid white;
  border-radius:0;
  color:white;
  padding:10px 22px;
  font-size:15px;
}
.txt:hover{
  background-color:white;
  color:black;
}

.txt-about-center{
  background-color:rgb(54,99,164);padding:20px 0px;
  /* text-align:center; */
  color:white;
  padding:80px;
}
.txt-about-right{
  background-color:rgb(39,61,130);
  /* text-align:center; */
  color:white;
  padding:80px;
}
.text-mob{
  color:#0e305f;
}
.form-txt{
  margin-top:10px;
  padding:22px;
  background-color:rgb(253, 252, 252);
}
.txt-btn{
  background-color:#0e305f;
  color:white;
  border-radius:0;
  margin-top:10px;
  font-size:20px;
  font-weight: bold;
  padding:8px 25px;
}
.txt-btn:hover{
  background-color:#071a35;
  color:white;
}
.bg-img{
  color:white;
  padding: 50px 15px;
}
.bg-img h6{
  line-height: 2rem;
}
.bg-clr-set{
  background-color:#0e305f;
  padding:60px 0;
  color:white;
  margin:30px 0px;
}
.bg-clr-set p a{
  color:white;
}
.txt-btn-about{
  border-bottom:2px solid #0e305f;
  color:black;
  border-radius:0;
  margin-top:10px;
  padding:10px;
  font-size:20px;
}
.txt-btn-about:hover{
  background-color:#9dc0f0;
  color:#0e305f;
}
.txt-btn-about{
  border-radius:0;
  background-color:white;
}
.txt-btn-about a{
  font-size:14px;
}
.pad-set{
  padding:50px 0px;
}
.back-img-set{
  background-image:url('../images/shivalik-tubewells.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  background-size: cover;
  background-position:top;
  padding:70px;
  margin:70px 0px;
}
.back-set-image{
  background-repeat:no-repeat;
  background-size: contain;
  background-size: cover;
  background-position:center;
  color:white;
  padding:150px 20px;
  margin-top:20px;
}
.set-images1{
  background-image:url('../images/slides/1.jpg');
  cursor:pointer;
}
.set-images2{
  background-image:url('../images/slides/2.jpg');
  cursor:pointer;
}
.set-images3{
  background-image:url('../images/slides/3.jpg');
  cursor:pointer;
}
.set-images4{
  background-image:url('../images/slides/4.jpg');
  cursor:pointer;
}
.set-images5{
  background-image:url('../images/slides/5.jpg');
  cursor:pointer;
}
.set-images6{
  background-image:url('../images/slides/6.jpg');
  cursor:pointer;
}
.set-image1{
  background-image:url('../images/1.jpg');
  cursor:pointer;
}
.set-image2{
  background-image:url('../images/2.jpg');
  cursor:pointer;
}
.set-image3{
  background-image:url('../images/3.jpg');
  cursor:pointer;
}
.set-image4{
  background-image:url('../images/4.jpg');
  cursor:pointer;
}
.set-image5{
  background-image:url('../images/5.jpg');
  cursor:pointer;
}
.set-image6{
  background-image:url('../images/6.jpg');
  cursor:pointer;
}
.set-image7{
  background-image:url('../images/7.jpg');
  cursor:pointer;
}
.set-image8{
  background-image:url('../images/8.jpg');
  cursor:pointer;
}
.set-image9{
  background-image:url('../images/9.jpg');
  cursor:pointer;
}
.set-image10{
  background-image:url('../images/10.jpg');
  cursor:pointer;
}
.set-image11{
  background-image:url('../images/11.jpg');
  cursor:pointer;
}
.set-image12{
  background-image:url('../images/12.jpg');
  cursor:pointer;
}
.set-image13{
  background-image:url('../images/13.jpg');
  cursor:pointer;
}
.set-image14{
  background-image:url('../images/14.jpg');
  cursor:pointer;
}
.set-image15{
  background-image:url('../images/15.jpg');
  cursor:pointer;
}
.set-image16{
  background-image:url('../images/16.jpg');
  cursor:pointer;
}
.set-image17{
  background-image:url('../images/17.jpg');
  cursor:pointer;
}
.set-image18{
  background-image:url('../images/18.jpg');
  cursor:pointer;
}
.set-image19{
  background-image:url('../images/19.jpg');
  cursor:pointer;
}
.set-image20{
  background-image:url('../images/20.jpg');
  cursor:pointer;
}
.set-image21{
  background-image:url('../images/21.jpg');
  cursor:pointer;
}
.set-image22{
  background-image:url('../images/22.jpg');
  cursor:pointer;
}
.set-image23{
  background-image:url('../images/23.jpg');
  cursor:pointer;
}
.set-image24{
  background-image:url('../images/24.jpg');
  cursor:pointer;
}

.back-set-image h2{
  padding:0px 0px 20px 20px;
  color:white;
}
.back-set-image p{
  padding:10px 0px 0px 20px;
  color:white;
}
.back-set-image a{
  padding:10px 0px 20px 20px;
  font-weight: bold;
  font-style: italic;
  color:red;
}
.padd-set-shiva{
  padding:30px 0px 20px;
}
.padd-set-shiva h4{
  padding:30px;
}
.padd-set-shiva {
  margin:20px;
}
.bg-clr-setet{
  background-color:#0e305f;
  padding:50px;
  margin:60px 0px;
}
.bg-clr-setet h1{
  padding:0px 0px 50px;
}


.testimonials-sec{
  padding: 3rem 0;
  background-color: #eee;
}
.testimonials-archive{margin: 5px;}
.testimonials-archive .testint {
  min-height: 250px;
  padding: 1rem 1rem 3rem;
}
.testimonials .testint {
  position: relative;
  border: 1px solid #cdcdcd;
  background: #fff;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 4px rgba(0,0,0,.07);
  height: auto;
  font-size: .875rem;
}

.testimonials .testint:after {
  content: '';
  border-top: 0 solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 0 solid transparent;
  border-right: 26px solid #fff;
  position: absolute;
  bottom: -27px;
  left: 30px;
}
.testimonials .aboutClient {
  padding: 2rem 0 0 3em;
}
.testimonials .aboutClient .ml-2 {
  color: #6a6a6a;
  font-weight: 700;
}

.testimonials-archive .testint .text{
  min-height: 170px;
}
.review-txt{
  font-size: 1.3rem;
  margin-bottom: 1rem;    
}
.review-txt a{
  color: #000;
}
.review{
  margin-bottom: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 1.1rem;
}
.review .ratio{
  margin-right: 5px;
}
.review i{
  width: auto;
  height: auto;
  padding: 0;
  font-size: 1.3rem;
  color: #C00606;
}

.slick-arrow{
  width: 40px;
  height: 40px;
  background-color: #252525;
  z-index: 3;
  transition: all 0.3s ease-out;
}

.slick-arrow:hover, .slick-arrow:focus{
  background-color: #252525;
}
.slick-prev:before, .slick-next:before {
  font-size: 1.5rem !important;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 15px;
}
.slick-prev:before {
  content: '\f104';
}
.slick-next:before {
  content: '\f105';
}


.common-sec{
  padding: 3rem 0;
}
.entry-title{
  margin-bottom: 2rem;
}
.entry-content .img{
  margin-bottom: 1.5rem;
}
.iframe iframe{
  min-height: 250px;
  width: 100%;
}

.timing-bx span{
  display: inline-block;
}
.timing-bx .days{
  min-width: 130px;
}



/* responsive media */
@media (max-width: 1199px){
  .trusted-partner-sec .trusted{
    padding: 30px !important;
  }
}
@media (max-width: 991px){  
  .menu-txt li a{font-size: 16px;}
  .h1, h1,
  .txt-manage-center h1{font-size: 1.8rem;}
  .h3, h3{font-size: 1.5rem;}
  .main-header{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main-header nav.navbar{
    margin: 0 !important;
  }
}
@media (max-width: 767px){
  .main-header{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .navbar-dark .navbar-toggler{margin-left: auto;}
  .carousel-caption h1{font-size: 36px;}
  .main-header nav{padding: 0.2rem 1rem;}
}
@media (max-width: 575px){
  .slick-prev {
    left: -5px;
  }
  .slick-next{
    right: -5px;
  }
  .main-header .navbar-brand{max-width: 90px;}
  .carousel-caption h1{font-size: 30px;}
  .txt-btn{font-size: 14px;}
  .item-bx .img{height: 400px;}
  .h1, h1, .txt-manage-center h1{font-size: 1.5rem;}
  .h3, h3{font-size: 1.3rem;}
  .h4, h4{font-size: 1rem;}
  .back-set-image{padding: 50px 0;}
}
@media (max-width: 576px){
  .navbar-collapse{
   text-align:right !important;
   position:absolute;
   right:0 !important;
   background-color:#071529;
  }
  .navbar-toggler{
    margin-top:10px;
  }
  .active1{
   font-size:20px !important;
   color:#e29913 !important;
   }
  .navbar-default{
    background-color:#071529;
  }
  .h2-txt{
    font-size: 1.5rem;
  }
}
/* Style the header */
/* .header {
  padding: 0px 0px;
  background: #555;
  color: #f1f1f1;
  z-index:50;
} */

/* Page content */
/* .content {
  padding: 16px;
} */

/* The sticky class is added to the header with JS when it reaches its scroll position */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + .content {
  padding-top: 102px;
}

.top_bottom_scroll a{
  border-radius: 0px;
}
ul.navbar-nav a { cursor: pointer; }

.active { color:#f00;font-weight:bolder; } */

#navbar {
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
  opacity: 0.8;
  padding: 12px 5px;
  transition: 0.6s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 55;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  /* font-size: 18px;  */
  line-height: 25px;
  border-radius: 4px;

}

#navbar #logo img{
 width:15%;
}

#navbar a:hover {
  color: rgb(104, 162, 185);
}
.bg-light{
  opacity: 0.7;
}

#navbar-right {
  float: right;
  margin-right:20px; ;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: inline;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
* {box-sizing: border-box;}

/* .active {
  font-size: 50px; 
  color:rgb(75, 130, 148);
} */

*{
  margin:0px;
  padding:0px;
}
header{
position:relative;
}
.navigation{
  padding-top:30px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}
.navigation a img{
    width:5%;
    padding:0px 0px 0px 20px;
}

.navbar-right{
  float:right;
  padding-right:10%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  /* font-family:Arial; */
  font-weight:400;
}

.navbar-right a:hover{
  text-decoration:none;
  color:lightblue;
}
/* .navbar-logo{
  font-family:Arial;
  font-weight:bold;
  text-decoration:none;
} */

.video-container {
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#video-bg{
  position: absolute;
  top:0;
  right: 0;
  
  bottom: 0;
  min-width: 100%;
  min-height:100%;
  transform: translateX(calc((100% - 100vw) / 2));
}
.header-set{
  min-height:700px;
  z-index:10;
}
.social-icon .fas1{
  font-size:30px;
  padding:16px 16px 0px 0px;
  cursor: pointer;
}
.social-icon a{
  text-decoration: none;
}
.social-icon .fas2{
  padding:16px 20px 0px;
  font-size:30px;
  cursor: pointer;
}
.fa-facebook-square:hover{
  color:#3b5999;
}
.fa-twitter-square:hover{
  color:#55acee;
}
.fa-linkedin:hover{
  color:#0077B5;
}
.fa-instagram:hover{
  color:#e4405f;
}
/* .active {
  font-size: 22px; 
  color:rgb(75, 130, 148);
} */
.navbar-default{
  /* background:transparent; */
  /* border:none !important; */
}
#video_overlays {
  position:absolute;
  float:left;
      width:100%;
      min-height:100%;
      background-color:#0e1217;
      z-index:300000;
      opacity: 0.5;
  }
  .active1{
     font-size:23px;
     color:#e29913 !important;
    }
    .forth-section{
      background-color:#0e305f;
    }
    .border-circle-set{
      border:10px solid white;
      height:150px;
      width: 150px;
      border-radius: 50%;
      border-color: #00bfe5 #00bfe5 white white;
      transform: rotate(0deg);
    }

   

    /* @media (min-width: 992px) {
      .navbar-nav li a {
        line-height: 85px;
      }
    }
    @media (max-width: 991px) {
      .navbar-brand1 {
        float: none;
      }
    }
    .navbar-toggler {
      border: none;
      width: 1em;
      top:0;
    } */
    .zoom {
      padding: 50px;
      /* background-color: green; */
      transition: transform .2s;
      width: 230px;
      height: 230px;
      margin: 0 auto;
    }
    
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
    .btn-txt-set ul li{
      list-style: none;
      padding:7px 0px;
    }
    .btn-txt-set ul li i{
      padding:0px 10px;
    }
    .btn-txt-set ul li{
     background-color: #0e305f;
     color:white;
     cursor:default;
    }
  .bg-color-header{
    background-color: #0e305f;
    color:white;
  }
  .btn-custom{
    background-color: #0e305f;
    color:white;
    border-radius:0px;
  }
  .btn-custom:hover{
    background-color: #040d1b;
    color:white;
  }
  .form-control:focus {
    outline: none !important;
    border:1px solid #0e305f;
    box-shadow: 0 0 10px #0e305f;
}
.form-control{
  border-radius:0px;
}

.half-circle {
  width: 100%;
  height: 500px;
  background-color: #0e305f;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sticky{
  position:fixed;
  z-index:-50;
}
.fixed {
  /* position: fixed; */
  bottom:0; 
  left:0;
  width: 100%; 
  z-index:-100;
}
.trust-seal{
  width:150px !important;
  height:150px !important;
}

.appstoreIcon {
  padding:10px 10px 10px 20px;
  position: relative;
  z-index: 3;
}

#google, #apple {
  box-shadow: 0 12px 21px rgba(0,0,0,.4);
  transition: all .35s linear;
  width: 150px;
}

/* #google:hover {
  content: url('https://shivatubewells.com/images/rsz_google-play-badge.png');
} */

@media (max-width:576px){
  .margin-bottom-sm{
    margin-bottom:730px;
  }
  .txt-center{
    text-align: center;
  }

}
@media (min-width:576px){
  .margin-bottom-sm{
    margin-bottom:540px;
  }
}


.android-image img{
  position:fixed;
  z-index:10;
  top:45%;
  left:-37px;
  width:150px;
  cursor: pointer;
}

.android-image-gif img{
  position:fixed;
  z-index:10;
  top:45%;
  left:-37px;
  width:150px;
  cursor: pointer;
  display:none;
}