.modal-body { 
    h1 { 
      font-weight:900; 
      font-size:2.3em;
      text-transform:uppercase;
    }
    
    a.pre-order-btn { 
      color:#000;
      background-color:gold;
      border-radius:1em;
      padding:1em;
      display: block;
      margin: 2em auto;
      width:50%;
      font-size:1.25em;
      font-weight:6600;
      &:hover { 
      background-color:#000;
        text-decoration:none;
        color:gold;
      }
    }
    
  }
  
  